{% set title  = 'HOME 2' %}
{% extends "../common/index.njk" %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block css %}
    {{ loadCss('test') | safe }}    
{% endblock %}

{% block js %}
    {{ loadJs('test') | safe }}
{% endblock %}
