{% set title  = 'HOME INDEX' %}
{% extends "../common/index.njk" %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block css %}
    {{ loadCss('test2') | safe }}    
{% endblock %}

{% block js %}
    {{ loadJs('test2') | safe }}
{% endblock %}
